[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim
[submodule "/Users/liamdyer/.vim/bundle/nerdtree"]
	path = /Users/liamdyer/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = git@github.com:itchyny/lightline.vim
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git@github.com:wincent/command-t.git
[submodule "bundle/vim-rspec"]
	path = bundle/vim-rspec
	url = git@github.com:thoughtbot/vim-rspec.git
[submodule "/Users/liamdyer/.vim/bundle/vim-buffergator"]
	path = /Users/liamdyer/.vim/bundle/vim-buffergator
	url = git@github.com:jeetsukumaran/vim-buffergator.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
